<div class="about f4 lh-copy pv5 aa">
  <div class="container membership">
    <div>
      <h2 class="membership__title ff-display ttu tracked">Membership Eligibility</h2>
      <p class="mt0 measure">
        If you live, work, worship, or attend school in West Feliciana,
        East Feliciana, Pointe Coupee, or the northern portion of East
        Baton Rouge (Zachary &amp; Baker) parishes, you are eligible
        and welcome to join <strong>Feliciana Federal Credit Union</strong>. We are a
        &ldquo;Community Credit Union&rdquo; with two convenient
        locations to serve you. Tell all your friends and neighbors to
        stop by and become part of our credit union family.
      </p>
      <p class="membership__tag ff-display fw6 ttu tracked mb0">
        Your Community Credit Union <span class="bullet">●</span>
        Your Community Lender
      </p>
    </div>
    <div class="membership__graphic">
    </div>
  </div>
</div>
