<div class="pv5 contact-form">
  <div class="container">
    <h2 class="ff-display ttu tracked">Get in touch</h2>
    <form action="https://formspree.io/memberservice@felicianafcu.com" method="post">
      <fieldset id="sign_up" class="ba b--transparent ph0 mh0">
        <legend class="ph0 mh0 fw6 clip">Sign Up</legend>
        <div class="mt3">
          <label class="db lh-copy" for="name">Name</label>
          <input class="pa2 input-reset ba b--black-40 br1 bg-transparent w-100 measure" type="text" name="name" id="name">
        </div>

        <div class="mt3">
          <label class="db lh-copy" for="phone">Phone number</label>
          <input class="pa2 input-reset ba b--black-40 br1 bg-transparent w-100 measure" type="text" name="phone" id="phone">
        </div>

        <div class="mt3">
          <label class="db lh-copy" for="email">Email</label>
          <input class="pa2 input-reset ba b--black-40 br1 bg-transparent w-100 measure" type="email" name="_replyto" id="email">
        </div>

        <div class="mt3">
          <label class="db lh-copy" for="question">Question</label>
          <select class="pa2 bg-transparent ba b--black-40 br1 bg-transparent w-100 measure" name="question" id="question">
            <option>Loan</option>
            <option>Membership</option>
            <option>Card Services</option>
            <option>Other</option>
          </select>
        </div>

        <div class="mt3">
          <label class="db lh-copy" for="comments">Comments</label>
          <textarea class="db border-box hover-black w-100 measure ba b--black-40 pa2 br2 mb2" name="comments" id="comments"></textarea>
        </div>

        <div class="mt3">
          <input class="f5 ttu white aa b pa3 input-reset ba b--black0 br2 bg-brand-green grow pointer" type="submit" value="Send your message">
        </div>
      </fieldset>
    </form>
  </div>
</div>
