<div class="features">
  <div class="feature">
    <h2 class="feature__title fw4 ff-display ttu tc pa2 tracked">
      Signature Loans
    </h2>
    <div class="feature__details pa2 f3 tc pa3">
      Rates as low as <strong>6.75<sup>%</sup></strong> APR*
    </div>
  </div>

  <div class="feature">
    <h2 class="feature__title fw4 ff-display ttu tc pa2 tracked">
      New Auto Loans
    </h2>
    <div class="feature__details pa2 f3 tc pa3">
      Rates as low as <strong>1.90<sup>%</sup></strong> APR*
    </div>
  </div>

  <div class="feature">
    <h2 class="feature__title fw4 ff-display ttu tc pa2 tracked">
      Used Auto Loans 
    </h2>
    <div class="feature__details pa2 f3 tc pa3">
      Rates as low as <strong>2.90<sup>%</sup></strong> APR*
    </div>
  </div>

  <div class="feature">
    <h2 class="feature__title fw4 ff-display ttu tc pa2 tracked">
      Mortgage Loans
    </h2>
    <div class="feature__details pa2 f3 tc pa3">
      Rates as low as <strong>4.25<sup>%</sup></strong> APR*
    </div>
  </div>
</div>
