<div class="other pv5">
  <div class="container">
    <div class="service aa">
      <h2 class="service__title">Other Services</h2>
      <div class="service__lists">
        <ul class="service__list lh-copy">
          <li>Shared Branching Service Centers (Both Locations)</li>
          <li>ACH, Direct Deposit &amp; Wire Transfers</li>
          <li>ATM Network Access (50 States)</li>
          <li>Certified Checks</li>
          <li>F.A.S.T. (Automated Teller by Phone)</li>
          <li>Notary Service &amp; Title Transfers</li>
          <li>Safe Deposit Boxes</li>
          <li>New Gen (Youth Prepaid Card)</li>
        </ul>
        <ul class="service__list lh-copy">
          <li>
            Online Virtual Branch (24-Hour Access)
            <ul>
              <li>Bill Pay Service</li>
              <li>Popmoney</li>
              <li>Mobile Money</li>
              <li>E-Statements</li>
            </ul>
          </li>
          <li>
            Prepaid Cards
            <ul>
              <li>Visa Travel</li>
              <li>Visa Gift</li>
              <li>Prepaid Visa Debt</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

