<div class="services pv5">
  <div class="container">
    <div>
      {{ partial "features.html" }}
    </div>

    <div class="service aa">
      <h2 class="service__title">For the Borrower</h2>
      <ul class="service__list lh-copy">
        <li>Mortgage Loans</li>
        <li>Unimproved Real Estate Loans</li>
        <li>New &amp; Used Auto Loans</li>
        <li>Boats, Motors &amp; Boat Trailer Loan</li>
        <li>Farm Equipment Loans</li>
        <li>Recreational Vehicle Loans</li>
        <li>Signature Loans (unsecured)</li>
        <li>MasterCard Classic &amp; Gold</li>
        <li>Visa Credit Card (Adjustable Rate/Annually)</li>
      </ul>
    </div>

    <div class="aa">
      <div class="service">
        <h2 class="service__title">For the Saver</h2>
        <ul class="service__list lh-copy">
          <li>Share Certificates</li>
          <li>Holiday Club Accounts</li>
          <li>IRA Share Certificate Accounts</li>
          <li>Regular Shares</li>
        </ul>
      </div>

      <div class="service">
        <h2 class="service__title">For the Depositor</h2>
        <ul class="service__list lh-copy">
          <li>Share Draft (Checking)</li>
          <li>ATM Cards</li>
          <li>Debit Card (MasterMoney)</li>
        </ul>
      </div>
    </div>
  </div>
</div>
